* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  letter-spacing: -0.013em;
  font-family: "Open Sans",Arial,sans-serif;
}


.headerboxstyle {
  padding: 20px;
  border-bottom: 2px solid black;
}

img {
    max-width: 50%;
    height: auto;
}


.trendlogo {
    display: inline-block;
    float: none;
    max-height: 54%;
    margin-bottom: 0;
    vertical-align: middle;
}

/*------------------STYLEGUIDE RELATERET START-------------------*/
ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  display: block;
}

ul.sidenav li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

ul.sidenav li a.active {
  background-color: #00C52C;
  color: white;
}

ul.sidenav li a:hover:not(.active) {
  background-color: white;
  color: #6eba01;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  margin-left: 25%;
  padding: 1px 10px;
  padding-top: 15px;
}

/*Farver */
.xx-swatches {
  padding: 0;
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 2em;
}

.xx-swatch {
  float: left;
  width: 15em;
  margin-right: 1em;
  list-style-type: none;
  font-size: 0.8em;
  line-height: 1.2em;
  margin-bottom: 1em;
  background-color: #fff;
  height: 13em;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  border: solid grey 2px;
}

.xx-swatch-preview {
  height: 5em;
  width: 103%;
  display: table-cell;
  margin-bottom: 0.5em;
  border-radius: 3px 3px 0 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  line-height: 1.1;
  vertical-align: middle;
  overflow: hidden;
  float: none;
  position: absolute;
  top: -0.25em;
  left: -1.5%;
  right: -1.5%;
  background-color: black;
  color: white;
}

.xx-swatch-details {
  padding: 0.7em 5% 0;
  margin-bottom: 0.5em;
  display: block;
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 90%;
  color: #999;
}

/*Farver Slut */


/* Knapper */

.standard2 {
  border: 2px solid black;
  padding: 10px;
  margin: 5px;
}

.knapperstyle {
  padding: 10px;
}

.standardknap {
  position: relative;
  padding: .3em 1em;
  font-size: 20px;
  line-height: 1.7em!important;
  transition: all .2s;
  color: white;
  background-color: #00C52C;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 550;
}

.standardknap:hover {
  background-color: white;
  color: #6eba01;
  transition: ease 300ms;
}

.standardknap2 {

    position: relative;
    padding: .3em 1em;
    font-size: 20px;
    line-height: 1.7em!important;
    transition: all .2s;
    color: white;
    background-color: #6eba01;
    text-decoration: none;
    text-transform: uppercase;
    display:inline-block;
    font-weight: 600!important;
}

.standardknap2:hover {
  background-color: white;
  color: #6eba01;
  transition: ease 300ms;
}




/*------------------STYLEGUIDE RELATERET Slut-------------------*/


/*------------------Jonas-----------------------------*/

#buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "pdf-name pdf-name pdf-name"
  "pdf-text pdf-text pdf-text"
  "pdf pdf pdf" "pdf pdf pdf";
}

#pdf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas:
  "pdf-name pdf-name pdf-name"
  "pdf-text pdf-text pdf-text"
  "pdf-text pdf-text pdf-text";
  grid-area: pdf;
}

#pdf-name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-area: pdf-name;
}

#pdf-text { grid-area: pdf-text; }

#button-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
  "menu menu . buttons buttons buttons buttons buttons buttons buttons . ."
  "menu menu . buttons buttons buttons buttons buttons buttons buttons . ."
  "menu menu . pdf pdf pdf pdf pdf pdf pdf . ."
  "menu menu . pdf pdf pdf pdf pdf pdf pdf . ."
  "menu menu . pdf pdf pdf pdf pdf pdf pdf . ."
  "menu menu . pdf pdf pdf pdf pdf pdf pdf . ."
  "menu menu . pdf pdf pdf pdf pdf pdf pdf . .";
  margin-top: 75px;
  grid-gap: 25px;
}


#buttons {
  display: grid;
  background-color: #EDEDED;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  box-sizing: border-box;
  grid-template-areas:
  ". inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid ."
  ". inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid inner-buttons-grid .";
  grid-area: buttons;}
  #inner-buttons-grid { grid-area: inner-buttons-grid; }
  #menu { grid-area: menu; }
  #pdf { grid-area: pdf; }

#button-grid > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.button-dragndrop {
background-color: #7CB5EC;
  border: none;
  color: white;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button-dragndrop {
  opacity: 1;
}

#inner-buttons-grid {
  display: grid;
  width: fit-content;
  grid-template-areas:
  'button-dragndrop1 button-dragndrop2'
  'button-dragndrop3 button-dragndrop4';
  grid-gap: 25px;
}

#pdf-text {
  display: grid;
  grid-template-areas:
  'pdf-name pdf-name'
  'pdf-text pdf-text'
  'pdf-text pdf-text';
  float: left;
  width: 100%;
  height: 600px;
  border: 3px solid black;
}

#pdf-name {
  width: 99.8%;
  resize: none;
  height: 25px;
}
