* {
  margin: 0;
  padding: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D3D3D3;
}

/* nav mobil og web Start */
.navlogo {
  float: left;
  height: 19px;
  padding: 15px;
}

.topnav {
  overflow: hidden;
  background-color: #222222;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: #444444;
  color: white;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.navicon {
  float: right;
}

label {
  font-size: 1rem;
  padding-right: 10px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}

select {
  font-size: .9rem;
  color: black;
  text-align: center;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
  position: relative;
}

i {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px 5px 10px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  float: right;
}

i:hover {
  background-color: #444444;
  color: white;
}

@media screen and (min-width: 1165px) {
  .mobilnav {
    display: none;
  }
}

@media screen and (max-width: 1165px) {
  .webnav {
    display: none;
  }
}

.topnavQ {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnavQ #myLinks {
  display: none;
}

.topnavQ a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnavQ a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnavQ a:hover {
  background-color: #ddd;
  color: black;
}

.activeQ {
  background-color: #4CAF50;
  color: white;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper>* {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: center;
  background: #222222;
}

.aside-1 {
  background: #222222;
  text-align: left;
}

.aside-2 {
  background: #222222;
  text-align: center;
  padding-top: 20px;
}

@media all and (min-width: 300px) {
  .aside {
    flex: 1 0 0;
  }
}

@media all and (min-width: 300px) {
  .main {
    flex: 3 0px;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }
}

.mobilnav {
  overflow: hidden;
  background-color: #333;
}

.mobilnav a {
  color: white;
  padding: 14px;
  text-decoration: none;
  font-size: 15px;
}

.mobilnav a:hover {
  background-color: #444444;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navlogomobil {
  height: 30px;
  padding-top: 5px;
}

/* nav mobil og web slut */
.reportcontainer {
  margin: 20px 20px 20px 20px;
}

.wrapperR {
  display: flex;
  flex-flow: row;
  font-weight: bold;
  text-align: center;
  border: 2px solid black;
  opacity: 0.5;
  transition: 0.3s;
}

.wrapperR:hover {
  opacity: 2
}

.wrapperR>* {
  padding: 10px;
  flex: 1 100%;
}

.mainR {
  text-align: left;
  background: white;
}

.aside-1R {
  background: white;
  text-align: center;
  padding-top: 1vw;
}

.aside-2R {
  background: white;
  text-align: right;
  padding-top: 1.5vw;
  font-size: 1.5vw;
  letter-spacing: 0.2vw;
  transition: transform .2s;
}

.aside-2R a:hover {
  transform: scale(1.5);
}

@media all and (min-width: 300px) {
  .asideR {
    flex: 1 0 0;
  }
}

@media all and (min-width: 300px) {
  .mainR {
    order: 1;
  }

  .aside-1R {
    order: 2;
  }

  .aside-2R {
    order: 3;
  }
}

h2.pdfname {
  font-size: 1.3vw;
}

h3.changes {
  font-size: 1vw;
  padding-top: 10px;
  font-weight: bold;
}

p.pdfid {
  font-size: 1vw;
  padding-top: 5px;
  font-weight: lighter;
}

/* Reportfiles SLUT */
/* Knapper for reportside START */
.btnreport {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  margin: 100px 20px 0px 20px;
}

.countreport {
  align-items: center;
}

.standardknap {
  position: relative;
  padding: .3em 1em;
  font-size: 1.2vw;
  line-height: 1.7em;
  transition: all .2s;
  color: white;
  background-color: #00C52C;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 550;
  padding: 10px 30px 10px 30px;
}

.standardknap:hover {
  background-color: white;
  color: #6eba01;
  transition: ease 300ms;
}

input {
  padding: 10px 30px 10px 30px;
  text-align: center;
}

button {
  padding: 10px 10px 10px 10px;
}
